.testResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}


.testResult > .question {
  background-color: #303030;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  max-width: 60vw;
}
.testResult > .question > .description {
  padding: 5px;
  font-weight: 600;
  border-bottom: 1px solid white;
}
.testResult > .question > .answers {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.testResult > .question > .answers > div{
  box-sizing: border-box;
  padding: 3px;
  background-color: #404040;
  width: 100%;
  text-align: left;
}

.testResult > .question > .answers > div.selected{
  background-color: #aa0000aa;
}
.testResult > .question > .answers > div.correct{ 
  background-color: green;
}
.testResult > .question > .answers > div.correct.selected{ 
  border: 2px solid white;
  box-sizing: border-box;
}
